.PoolContainer {
    font-family: monospace;
    margin-bottom: 20px;
}

.PoolContainer > .name {
    font-weight: bold;
    text-decoration: underline;
}

.PoolContainer > .liquidity {
    margin-left: 4px;
    font-weight: normal;
}

.PoolContainer > .assets {
    display: block;
    margin-left: 16px;
}

.PoolContainer > .assets > .asset {
    display: block;
}

.PoolContainer .target {
    color: rgb(250, 20, 20);
}

.PoolContainer .v3pool {
    /*font-style: oblique;*/
    color: rgb(180, 180, 180);
    text-decoration: underline;
    margin-left: 4px;
}